############################################################
# Default Logging Configuration File
#
#   YOU PROBABLY DON'T WANT TO EDI THIS...
#
# You can use a different file than either of these by
# specifying a filename with the 
# java.util.logging.config.file system property.  For example:
# java -Djava.util.logging.config.file=myfile
#
############################################################

# "handlers" specifies a comma separated list of log Handler 
# classes.  These handlers will be installed during VM startup.
handlers= java.util.logging.ConsoleHandler

# Default global logging level.
#.level= FINEST
.level= MAIN

############################################################
# Handler specific properties.
############################################################

# Limit the messages that are printed on the console:
java.util.logging.ConsoleHandler.level = FINEST

# use this format instead of the default java.util.logging.SimpleFormatter
java.util.logging.ConsoleHandler.formatter = edu.harvard.econcs.util.LogFormatter

############################################################
# Provides extra control for each logger.
############################################################

# For example, set the com.xyz.foo logger to only log SEVERE
# messages:
#com.xyz.foo.level = SEVERE
sun.rmi.level = SEVERE
edu.harvard.econcs.jopt.level = WARNING
edu.harvard.econcs.jopt.solver.server.cplex.level = MAIN
edu.harvard.econcs.jopt.solver.server.level = MAIN
